<launch>

    <rosparam file="$(find image_bridge)/config/cameras.yaml"/>

	<include file= "$(find image_bridge)/launch/camera.launch">
		<arg name="usb_cam" value="usb_cam1"/>
		<arg name="video_device" value="/dev/video2"/>
		<arg name="image_width" value="3264"/>
		<arg name="image_height" value="2448"/>
	</include>
	
	<include file= "$(find image_bridge)/launch/camera.launch">
		<arg name="usb_cam" value="usb_cam2"/>
		<arg name="video_device" value="/dev/video4"/>
		<arg name="image_width" value="3264"/>
		<arg name="image_height" value="2448"/>
	</include>
		
    <node name="image_bridge_node" pkg="image_bridge" type="image_bridge_node" output="screen"/>

</launch>
